{
    "openapi": "3.1.0",
    "info": {
        "title": "Vascular Expert Tools",
        "description": "API for accessing ESVS Vascular Guidelines",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://lavarel.eastus2.cloudapp.azure.com",
            "description": "Production Server"
        }
    ],
    "paths": {
        "/api/vascular-consult": {
            "post": {
                "operationId": "consult_guidelines",
                "summary": "Consult Vascular Guidelines",
                "description": "Retrieves evidence-based recommendations from ESVS guidelines.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "question": {
                                        "type": "string",
                                        "description": "The clinical question to answer"
                                    },
                                    "history": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "Optional conversation history"
                                    }
                                },
                                "required": [
                                    "question"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful retrieval",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string",
                                            "description": "The retrieved guidelines and citations"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "API Key"
            }
        }
    },
    "security": [
        {
            "bearerAuth": []
        }
    ]
}